1.a disini saya mengimport library python untuk membaca dataset.csv yaitu pandas.saya menerjakan clue pertaman yaitu menampilkan rata-rata data dari atribut yang bertipe integer.pertama saya membaca data.csv saya dengan variable 'data'.dimana fungsi 'data = pd.read_csv('Shouth_China.csv') digunakan untuk membaca file csv dengan menggunakan library pandas.integer_columns = data.select_dtypes(include= 'int') digunakan untuk memanggil atribut dengan tipe data berupa integer.mean_value = integer_columns.mean() digunakan untuk menjumlahkan rata-rata data integer tersebut dengan print(mean_value). dan bisa dilihat rata-rata nilai dari tiap atribut tersebut.

In [1]:
import pandas as pd

data = pd.read_csv('South_China.csv')

integer_columns = data.select_dtypes(include ='int')

mean_value = integer_columns.mean()

print(mean_value)

ID                       10750.500000
Registration_Duration       33.756000
Revenue                     58.387333
dtype: float64

1.b disini saya juga mengimport pandas dan menggunakan fungsi untuk membaca file sama seperti sebelumnya,untuk menentukan devisiasi dari sebuah data ID,Registration_Duration,dan Revenue saya menggunkan fungsi std untuk menentukan standar deviasi data yang bertipe integer

In [3]:
import pandas as pd

data = pd.read_csv('South_China.csv')
kolom_standar_deviasi = ['ID', 'Registration_Duration', 'Revenue']

standar_deviasi = data[kolom_standar_deviasi].std()

print(standar_deviasi)

ID                       433.157015
Registration_Duration     10.928133
Revenue                   61.862056
dtype: float64

1.c disini saya mengimpor pandas untuk membaca file csv saya dan fungsi pd.read_csv. pada kolom_minimum saya menentukan atribut yang ingin dicari nilai minimumnya yang bertipe data integer seperti yang terlihat dan delanjutnya pada variable nilai_minimum saya menggunakan fungsi min untuk mencari nilai minimum pada setiap atribut yang bertipe integer tersebut.dan hasilnya adalah nilai minimum dari setiap atribut sepeerti pada outputnya yang terlihat

In [4]:
import pandas as pd

data = pd.read_csv('South_China.csv')

kolom_minimum = ['ID','Registration_Duration','Revenue']

nilai_minimum = data[kolom_minimum].min()

print(nilai_minimum)

ID                       10001
Registration_Duration       19
Revenue                     13
dtype: int64

1.d pada nilai maksimum caranya sama dengan mencari nilai minimum hanya saja perbedaan fungsi yang dipakai terletak pada menghitung nilai minimumnya kita menggunaka fungsi 'max' untuk mencari nilai maksimum dari dataset tersebut.dan terlihat di outputnya nilai maksimal yang muncul.

In [5]:
import pandas as pd

data = pd.read_csv('South_China.csv')

kolom_maksimum = ['ID','Registration_Duration','Revenue']

nilai_maksimum = data[kolom_maksimum].max()

print(nilai_maksimum)

ID                       11500
Registration_Duration       72
Revenue                    981
dtype: int64

2.pada kasus ini kita diminta untuk menampilkan 10 record pertama dengan atribut bertipe integer jadi fungsi yang kita gunaka adalah 'head(10)' pada kodingan saya saya memanggil dulu atribut yang bertipe integer pada variable kolom_sepuluhpertama,lalu saya menggunakan fungsi head pada variable nilai_sepuluhpertama lalu print untuk memanggil nilai head dan hasilnya seperti yang terlihat pada putputnya.

In [6]:
import pandas as pd

data = pd.read_csv('South_China.csv')

kolom_sepuluhpertama = ['ID','Registration_Duration','Revenue']

nilai_sepuluhpertama = data[kolom_sepuluhpertama].head(10)

print(nilai_sepuluhpertama)

      ID  Registration_Duration  Revenue
0  10001                     29       46
1  10002                     58      105
2  10003                     36       55
3  10004                     32       28
4  10005                     26       32
5  10006                     37       40
6  10007                     27       40
7  10008                     26       32
8  10009                     59      172
9  10010                     22       24

3.untuk mencari jumlah record kita mneggunakan fungsi 'len(data)',untuk mencari jumlah atribut kita menggunakan fungsi 'len(data.columns)',untuk untuk mencari jumlah atribut bertipe integer sama seperti sebelumnya kita menggunakan len(data.select_dtypes(include='number').columns).dan untuk mendapatkan hasil dictionary yang sesuai kita menggunakan key dan value yang benar dengan print('Informasi Dataset: Dari South_China')
for key, value in informasi_dict.items():
    print(f'{key}: {value}') maka dari itu akan menghasilkan output sesuai susunan yang kita inginkan.

In [11]:
import pandas as pd

# Membaca dataset dari file CSV
data = pd.read_csv('South_China.csv')

# Mendapatkan informasi jumlah record
jumlah_record = len(data)

# Mendapatkan informasi jumlah attribute
jumlah_attribute = len(data.columns)

# Mendapatkan nama-nama attribute
nama_attribute = list(data.columns)

# Mendapatkan jumlah attribute dengan tipe angka
jumlah_attribute_numerik = len(data.select_dtypes(include='number').columns)

# Membuat dictionary dengan informasi yang diperoleh
informasi_dict = {
    'Jumlah Record': jumlah_record,
    'Jumlah Attribute': jumlah_attribute,
    'Nama Attribute': nama_attribute,
    'Jumlah Attribute Numerik': jumlah_attribute_numerik
}


print('Informasi Dataset: Dari South_China')
for key, value in informasi_dict.items():
    print(f'{key}: {value}')

Informasi Dataset: Dari South_China
Jumlah Record: 1500
Jumlah Attribute: 5
Nama Attribute: ['ID', 'Registration_Duration', 'Revenue', 'Cost', 'Renewal']
Jumlah Attribute Numerik: 4

4.a pada slice data pertama kita menggunakan fungsi 'iloc' dengan nim terakhir saya (086)jadi saya mengambil data dengan 86 pertama hingga terakhir,karena terakhir jadi penulisannya [86:,3:] artinya kita mnegambil data dari 86 hingga terakhir dan kolom ke 4 hingga terakhir.

In [12]:
slicedData1 = data.iloc[86:, 3:]


print("Metode Slice 1:")
print(slicedData1)

Metode Slice 1:
          Cost  Renewal
86    13.94103    False
87     8.29143     True
88     2.90826    False
89     0.70941     True
90     5.30292     True
...        ...      ...
1495   9.76910     True
1496   1.65636     True
1497   0.54784     True
1498   6.36115     True
1499   1.48944     True

[1414 rows x 2 columns]

4.b pada slice 2 sama dengan slice 1 hanya saja pada kasus ini kita menggunakan 'copy()' yang artinya kita membuat salinan dari hasil slice tanpa mempengaruhi dataframe asli(data).

In [13]:
slicedData2 = data.iloc[86:, 3:].copy()

print("\nMetode Slice 2:")
print(slicedData2)

Metode Slice 2:
          Cost  Renewal
86    13.94103    False
87     8.29143     True
88     2.90826    False
89     0.70941     True
90     5.30292     True
...        ...      ...
1495   9.76910     True
1496   1.65636     True
1497   0.54784     True
1498   6.36115     True
1499   1.48944     True

[1414 rows x 2 columns]

5. untuk menampilkan semua data bertipe object pada dataset kita menggunakan data.select_dtypes(include=['object']) untuk memilih tipe data yang ingin ditapilkan disini saya menggunakan object untuk menampilkan tipe data object atau string secara umum. dan fungsi object_attributes.apply(lambda x: x.nunique()) untuk mendapatkan jumlah label untuk setiap atribut.dan outputnya kosong artinya tidak ada data yang bertipe object dalam dataset saya.seperti yang terlihat pada codingan selanjutnya hanya ada tipe data float,integer,dan boolean.dengan menggunakan data.info().

In [23]:
import pandas as pd

# Membaca dataset dari file CSV
data = pd.read_csv('South_China.csv')

# Memilih atribut dengan tipe data 'object' (yang umumnya merupakan teks atau karakter)
object_attributes = data.select_dtypes(include=['object'])

# Mendapatkan jumlah label untuk setiap atribut
label_counts = object_attributes.apply(lambda x: x.nunique())

# Menampilkan hasil
print("Jumlah label untuk atribut dengan tipe data 'object':")
print(label_counts)

Jumlah label untuk atribut dengan tipe data 'object':
Series([], dtype: float64)

In [21]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 5 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     1500 non-null   int64
 1   Registration_Duration  1500 non-null   int64
 2   Revenue                1500 non-null   int64
 3   Cost                   1500 non-null   float64
 4   Renewal                1500 non-null   bool
dtypes: bool(1), float64(1), int64(3)
memory usage: 48.5 KB